@import "tailwindcss";

:root {
  --background: #fdfdfd;
  --foreground: #f8f8f8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter-sans);

  /* Primary */
  --color-primary-50: #fafdffff;
  --color-primary-100: #f2faffff;
  --color-primary-200: #e3f5ffff;
  --color-primary-300: #ceefffff;
  --color-primary-400: #b7e6ffff;
  --color-primary-500: #9bdaffff;
  --color-primary-600: #76c9ffff;
  --color-primary-700: #28b2ffff;
  --color-primary-800: #14a9ffff;
  --color-primary-900: #0063abff;
  --color-primary-950: #064674ff;
  --color-primary-1100: #052540ff;

  /* Secondary */
  --color-secondary-50: #fcfcfcff;
  --color-secondary-100: #f3f3f3ff;
  --color-secondary-200: #e4e4e4ff;
  --color-secondary-300: #d0d0d0ff;
  --color-secondary-400: #b5b5b5ff;
  --color-secondary-500: #959595ff;
  --color-secondary-600: #6f6f6fff;
  --color-secondary-700: #424242ff;
  --color-secondary-800: #2c2c2cff;
  --color-secondary-900: #1e1e1eff;
  --color-secondary-950: #1a1a1aff;
  --color-secondary-1100: #1f1f1fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
